*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*  ===============================
      Colors
      ===============================   */
  --bg-Verydarkblue: hsl(233, 47%, 7%);
  --bg-Darkdesaturatedblue: hsl(244, 38%, 16%);
  --Softviolet: hsl(277, 64%, 61%);
  --tm-White: hsl(0, 0%, 100%);
  --tp-Slightlytransparentwhite: hsla(0, 0%, 100%, 0.75);
  --th-Slightlytransparentwhite: hsla(0, 0%, 100%, 0.6);

  /* ===============================
     Fonts
     ===============================  */

  --ff-inter: "Inter", sans-serif;
  --ff-lexend: "Lexend Deca", sans-serif;
  --fs-fontsize: 1rem;
  --fw-400: 400;
  --fw-700: 700;
  --line-height: 1.6;
}

/* ==============================
   Spacing
   ==============================  */

.mb-16 {
  margin-bottom: 1rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}
.mb-24 {
  margin-bottom: 1.5rem;
}
/* ==============================
   Body
   ==============================  */

body {
  margin: 0;
  font-family: var(--ff-inter);
  font-size: var(--fs-fontsize);
  font-weight: var(--fw-400);
  line-height: var(--line-height);
  background-color: var(--bg-Verydarkblue);
  color: var(--tm-White);
  text-align: center;
  letter-spacing: 0.5px;
}

@media (min-width: 768px) {
  body {
    text-align: left;
  }
}

ul {
  list-style: none;
}

/* ==============================
Layout
============================== */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* ================================
   Typography
   ================================ */
